<mat-sidenav-container fullscreen>
    <mat-toolbar class="flex bg-azure-primary-90">
        <button mat-icon-button (click)="sidenav.open()" color="primary">
            <mat-icon>menu</mat-icon>
        </button>

        <button mat-button color="primary" class="ms-5" routerLink="home">
            Angular Material
        </button>

        <mat-form-field appearance="outline" color="primary" class="mx-auto mt-4">
            <input matInput placeholder="Buscar contenido">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>

        <button mat-icon-button [matMenuTriggerFor]="dropdownProfile" color="primary">
            <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #dropdownProfile>
            <button mat-menu-item>
                <mat-icon>manage_accounts</mat-icon>
                Perfil
            </button>
            <button mat-menu-item>
                <mat-icon>logout</mat-icon>
                Cerrar Sesión
            </button>
        </mat-menu>
    </mat-toolbar>
    
    <mat-sidenav #sidenav>
        <mat-nav-list (click)="sidenav.close()">
            <a mat-list-item routerLink="/">
                <mat-icon>home</mat-icon>
                <span class="ms-2">Inicio</span>
            </a>
            <a mat-list-item routerLink="cursos">
                <mat-icon>library_books</mat-icon>
                <span class="ms-2">Cursos</span>
            </a>
            <a mat-list-item routerLink="faq">
                <mat-icon>question_answer</mat-icon>
                <span class="ms-2">Preguntas Frecuentes</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <div class="container mx-auto mt-2">
        <router-outlet />
    </div>
    
</mat-sidenav-container>