<mat-sidenav sidenav class="p-4">
    <div class="flex w-full">
        <button mat-icon-button class="ms-auto mb-2" (click)="sidenav().close()">
            <mat-icon>arrow_back</mat-icon>
        </button>
    </div>
    <mat-nav-list (click)="sidenav().close()">
        @for(item of menuItems(); track $index) {
            <a mat-list-item routerLinkActive #rla="routerLinkActive" [activated]="rla.isActive" [routerLink]="item.link" class="my-1">
                <mat-icon>{{item.icon}}</mat-icon>
                <span class="ms-2">{{item.label}}</span>
            </a>
        }
    </mat-nav-list>
</mat-sidenav>